* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: auto;
  height: 70px;
  background-color: #ec715f;
}

.container-group {
  width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 70px;
}
.nav {
  display: flex;
}
.nav-list {
  width: 120px;
  list-style: none;
  font-size: 16px;
  padding: 0 30px;
  line-height: 70px;
}
.nav-list a {
  color: #fafafa;
}
a {
  text-decoration: none;
}
